@page "/friends"
@inject UserService UserService
@inherits LayoutComponentBase
<h3>Friends</h3>

<div class="card">
    <div class="card-body">
        @if (users != null && friends != null)
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Nick</td>
                        @if (friends.Contains(user))
                        {
                            <td>Already Friend</td>
                        }
                        else
                        {
                            <td>
                                <button class="btn btn-success m-1"
                                        @onclick="() => AddFriend(user.Id)">
                                    Add Friend
                                </button>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>

@code {

    private HttpClient _client;
    public ICollection<UserWithoutFriendsDTO>? friends;
    public ICollection<UserWithoutFriendsDTO>? users;

    protected override async Task OnInitializedAsync()
    {
        friends = await UserService.GetFriends();
        users = await UserService.GetUsers();
    }

    public async Task AddFriend(int id)
    {
        await UserService.AddFriend(id);
        var newFriend = users.FirstOrDefault(x => x.Id == id);
        friends.Add(newFriend);
    }
}