@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
<h3>Index</h3>

<div class="card">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Имя</td>
            <td>Значение</td>
        </tr>
        </thead>
        <tbody>
            @if (_authenticationState != null)
            {
                @foreach (var claim in _authenticationState.User.Claims)
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    private AuthenticationState? _authenticationState = null;
    protected override async Task OnInitializedAsync()
    {
        _authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        await base.OnInitializedAsync();
    }
}
