@page "/login"
@using Blazored.SessionStorage
@inject ILocalStorageService LocalStorage
@inject ISessionStorageService SessionStorage
@inject NavigationManager NavigationManager
@inject SignInOrUpService SignInOrUpService
<PageTitle>Login</PageTitle>

<h1>Login</h1>

<div class="card">
    <div>
        <div><p>Login: <input type="text" @bind-value="@Login" /></p></div>
        <div><p>Password: <input type="text" @bind-value="@Password" /></p></div>
        <div><p>Запомнить меня? <input type="checkbox" @bind-value="@SaveMe" /></p></div>
        <button @onclick="Logining">Login</button>
    </div>
    <p>Message: @LoginResult</p>
</div>

@if (LoginResult == null)
{
    <div class="alert alert-danger">
        Не смогли авторизоваться
    </div>
}

@code {
    public string? LoginResult { get; set; }
    public string? Login { get; set; }
    public string? Password { get; set; }
    public bool SaveMe { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public async Task Logining()
    {
        if (Login != null & Password != null)
        {
            LoginResult = await SignInOrUpService.SignIn(Login!, Password!, LocalStorage, SessionStorage, SaveMe);

            if (LoginResult != null)
            {
                NavigationManager.NavigateTo("/");
            }
        }
    }
}
