@page "/profile"
@using Microsoft.Extensions.Options
@using webApiMessenger.BalzorClient.Options
@using Blazored.LocalStorage
@using Blazored.SessionStorage
@inject IOptions<ServerSettings> Options
@inject ILocalStorageService LocalStorage
@inject ISessionStorageService SessionStorage
@inject NavigationManager NavigationManager
<PageTitle>Profile</PageTitle>

<h3>Profile</h3>

@code {
    
}