@page "/profile"
@inject UserService UserService
@inherits LayoutComponentBase

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>

<div class="card">
    <div class="card mt-3">
        <div class="card-body">
            <p>Id: @_user?.Id</p>
            <p>Nick: @_user?.Nick</p>
            <p>Age: @_user?.Age</p>
            <p>Login: @_user?.Login</p>
            <p>Email: @_user?.Email</p>
            <div class="table">
                @foreach (var friend in friends)
                {
                    <div>
                        <span>@friend.Nick</span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {

    private HttpClient _client;
    private UserPublicDTO? _user;
    public IEnumerable<UserWithoutFriendsDTO>? friends = new List<UserWithoutFriendsDTO>();

    protected override async Task OnInitializedAsync()
    {
        _user = await UserService.Me();
        friends = await UserService.GetFriends();
    }

}
